.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
out/test/**
vsc-extension-quickstart.md
.pipelines/**
.azure-pipelines/**
.vsts-ci.yml
tsconfig.json
tslint.json
.git
logo.psd
yarn.lock
.yarnclean
CHANGELOG.md
image/*
typings



