**/*.map
.azure-pipelines/**
.git
.gitignore
.pipelines/**
.vscode
.vscode-test/**
.vscode/**
.vsts-ci.yml
.yarnclean
CHANGELOG.md
image/*
logo.psd
node_modules
out/
out/test/**
src/
src/**
test/**
tsconfig.json
tslint.json
typings
vsc-extension-quickstart.md
webpack.config.json
yarn.lock
bin
logo.psd
package-lock.json
