name: CI
on:
  push:
    paths-ignore:
      - CHANGELOG.md
      - README.md
  pull_request:
    paths-ignore:
      - CHANGELOG.md
      - README.md

jobs:
  unit-test:
    name: Test
    runs-on: ${{ matrix.config.os }} # we run many different builds
    strategy:
      matrix:
        config:
          - os: ubuntu-latest
          - os: macos-latest
          - os: windows-latest
    steps:
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: yarn
      - run: yarn format-check
      - run: yarn test-compile
      - run: yarn compile
      # https://github.com/GabrielBB/xvfb-action
      - name: Run headless test
        uses: GabrielBB/xvfb-action@v1
        with:
          run: yarn test
